.textbox-component {
  position: relative;
  display: inline-block;
}

.textbox-component > input {
  height: 45px;
  font-size: 14px;
  padding: 6px 12px;
  box-sizing: border-box;
}

.textbox-component > input::-ms-clear,
.textbox-component > input::-ms-reveal {
  display: none;
}

.textbox-component .clear {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  color: #282c34;
  padding: 5px;
  cursor: pointer;
}