$tooltip-color-alert: #e80d0d;
$tooltip-background-alert: #ffdfdf;
$tooltip-color-warning: #b6b10b;
$tooltip-background-warning: #fffec0;
$tooltip-color-success: #399b00;
$tooltip-background-success: #ddf4cf;
$tooltip-color-info: #0e5cba;
$tooltip-background-info: #d3e6fc;
$tooltip-color-dark: rgba(0,0,0,.7);

@mixin border-bottom(){
  &.tooltip-alert {
    &::after {
      border-bottom: 9px solid $tooltip-color-alert;
    }
  }
  &.tooltip-warning {
    &::after {
      border-bottom: 9px solid $tooltip-color-warning;
    }
  }
  &.tooltip-success {
    &::after {
      border-bottom: 9px solid $tooltip-color-success;
    }
  }
  &.tooltip-info {
    &::after {
      border-bottom: 9px solid $tooltip-color-info;
    }
  }
  &.tooltip-dark {
    &::after {
      border-bottom: 9px solid $tooltip-color-dark;
    }
  }
}

@mixin border-right(){
  &.tooltip-alert {
    &::after {
      border-right: 9px solid $tooltip-color-alert;
    }
  }
  &.tooltip-warning {
    &::after {
      border-right: 9px solid $tooltip-color-warning;
    }
  }
  &.tooltip-success {
    &::after {
      border-right: 9px solid $tooltip-color-success;
    }
  }
  &.tooltip-info {
    &::after {
      border-right: 9px solid $tooltip-color-info;
    }
  }
  &.tooltip-dark {
    &::after {
      border-right: 9px solid $tooltip-color-dark;
    }
  }
}

@mixin border-left(){
  &.tooltip-alert {
    &::after {
      border-left: 9px solid $tooltip-color-alert;
    }
  }
  &.tooltip-warning {
    &::after {
      border-left: 9px solid $tooltip-color-warning;
    }
  }
  &.tooltip-success {
    &::after {
      border-left: 9px solid $tooltip-color-success;
    }
  }
  &.tooltip-info {
    &::after {
      border-left: 9px solid $tooltip-color-info;
    }
  }
  &.tooltip-dark {
    &::after {
      border-bottom: 9px solid $tooltip-color-dark;
    }
  }
}

@mixin border-top(){
  &.tooltip-alert {
    &::after {
      border-top: 9px solid $tooltip-color-alert;
    }
  }
  &.tooltip-warning {
    &::after {
      border-top: 9px solid $tooltip-color-warning;
    }
  }
  &.tooltip-success {
    &::after {
      border-top: 9px solid $tooltip-color-success;
    }
  }
  &.tooltip-info {
    &::after {
      border-top: 9px solid $tooltip-color-info;
    }
  }
  &.tooltip-dark {
    &::after {
      border-top: 9px solid $tooltip-color-dark;
    }
  }
}

.tooltip {
  position: relative;
}

.tooltip-trigger {
  display: inline-block;
}

.decorate {
  text-decoration: underline;
}

.tooltip-bubble {
  min-width: 120px;
  position: absolute;
  z-index: 10;

  &::after {
    content: '';
    position: absolute;
  }
}

.tooltip-top {
  bottom: 100%;
  left: 50%;
  padding-bottom: 9px;
  transform: translateX(-50%);

  &::after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  @include border-top();
}

.tooltip-bottom {
  top: 100%;
  left: 50%;
  padding-top: 9px;
  transform: translateX(-50%);

  &::after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  @include border-bottom();
}

.tooltip-left {
  top: 50%;
  right: 100%;
  padding-right: 9px;
  transform: translateY(-50%);

  &::after {
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  @include border-left();
}

.tooltip-right {
  top: 50%;
  left: 100%;
  padding-left: 9px;
  transform: translateY(-50%);

  &::after {
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  @include border-right();
}

.tooltip-message {
  border-radius: 3px;
  font-size: .75rem;
  line-height: 1.4;
  padding: .75em;
  text-align: center;
  background: #fff;
}

.dark {
    background: $tooltip-color-dark;
    color: #fff;
  }

.info {
  background: $tooltip-background-info;
    color: $tooltip-color-info;
    border: 0.5px solid $tooltip-color-info;
  }

  .alert {
    background: $tooltip-background-alert;
    color: $tooltip-color-alert;
    border: 0.5px solid $tooltip-color-alert;
  }

  .warning {
    background: $tooltip-background-warning;
    color: $tooltip-color-warning;
    border: 0.5px solid $tooltip-color-warning;
  }

  .success {
    background: $tooltip-background-success;
    color: $tooltip-color-success;
    border: 0.5px solid $tooltip-color-success;
  }